<div class="p-4 h-100 d-flex flex-column">
	<div class="row flex-grow-1">
		<div class="col-2 d-flex flex-column justify-content-between">
			<ng-container *ngFor="let pic of display, index as i">
				<img *ngIf="i < SIDE && pic" class="panel"
						[class.selected]="isSelected(i)"
						[src]="'file://' + pic" />
				<i *ngIf="i < SIDE && !pic" class="blank panel material-icons">close</i>
			</ng-container>
		</div>
		<div class="col-8 d-flex flex-column" [class.selected]="isSelected(SIDE)">
			<div class="row">
				<div class="col-12">
					<div class="header panel">
						<ng-container *ngIf="exporting">
							<span>Copying {{exporting.index + 1}} of {{selected.size}}</span>
							<span>{{exporting.file}}</span>
							<span>File Export in Progress</span>
						</ng-container>
						<ng-container *ngIf="!exporting">
							<span *ngIf="!exporting">Image {{min(current + 1, images.length)}} of {{images.length}}</span>
							<span>{{display[SIDE]}}</span>
							<span>{{selected.size}} Selected</span>
						</ng-container>
					</div>
				</div>
			</div>
			<img *ngIf="exporting || display[SIDE]" class="main panel" [src]="'file://' + (exporting && exporting.file || display[SIDE])" />
			<i *ngIf="isSelected(SIDE)" class="check material-icons">check_circle</i>
		</div>
		<div class="col-2 d-flex flex-column justify-content-between">
			<ng-container *ngFor="let pic of display, index as i">
				<img *ngIf="i > SIDE && pic" class="panel"
						[class.selected]="isSelected(i)"
						[src]="'file://' + pic" />
				<i *ngIf="i > SIDE && !pic" class="blank panel material-icons">close</i>
			</ng-container>
		</div>
	</div>
</div>